.flip-card{
    background-color: transparent;
    width: 70%;
    max-width: 42rem;
    /* height: 300px; */
    /* height: auto; */
    height: 300px;
    perspective: 1000px;
    display: flex;
    flex-wrap: wrap
}

@media(min-width: 768px){
    .flip-card{
        background-color: transparent;
        width: 50%;
        /* height: 300px; */
        /* height: auto; */
        height: 300px;
        perspective: 1000px;
        display: flex;
        flex-wrap: wrap
    }
}

.flip-card-inner{
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;    
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-wrap: wrap;
}

.flip-card-front{
    color: black;
}

.flip-card-back{
    transform: rotateY(180deg);
    padding: 40px;
    overflow: scroll;
}