@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');

/* *, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html{
  width: 100vw;
  height: 100%;
  min-height: 100%;
}

body, #root, #app{
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;;
}


.labelContainer > label {
  @apply text-black
}

.labelContainer > input {
  @apply py-2 px-4 rounded outline-none
}

.card-set{
  margin-top: 1rem;
}

.card-preview{
  @apply h-72 w-72 border-gray-50 border-2 rounded-lg flex flex-col justify-between items-center
}

button{
  @apply btn btn-outline btn-primary
}

input[type=text]{
  border: 1px solid white;
}

.game-card{
  
}
