@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
  width: 100vw;
  height: 100vh;
}

.labelContainer > label {
  @apply text-black
}

.labelContainer > input {
  @apply py-2 px-4 rounded outline-none
}

.card-set{
  margin-top: 1rem;
}

button{
  @apply btn btn-outline btn-primary
}

input[type=text]{
  border: 1px solid white;
}
